<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tigerlab | Registration Form</title>
</head>
<body>
    <div class="container">
        <p id="message">Fields marked with a * are required</p>
        <form [formGroup]="regForm" (ngSubmit)="register()">
            <div class="row">
                <div class="col-md-3">
                    <select name="title" formControlName="title" id="title" class="form-control">
                        <option value="" disabled>Your Title*</option>
                        <option *ngFor="let t of titles" [ngValue]="t.val">
                            {{ t.titleName }}
                        </option>
                    </select>
                    <div class="errMsg" *ngIf="title.errors?.required && title.touched">
                        Please select a title
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="fname" formControlName="firstName" id="fname" class="form-control" placeholder="Your First Name*">
                    <div class="errMsg" *ngIf="firstName.errors?.required && firstName.touched">
                        First Name is required.
                    </div>
                    <div class="errMsg" *ngIf="firstName.errors?.pattern && firstName.touched">
                        Your first name may contain only letters.
                    </div>
                </div>
                <br>
                <br>
                <div class="col-md-6">
                    <input type="text" name="lname" formControlName="lastName" id="lname" class="form-control" placeholder="Your Last Name / Surname*">
                    <div class="errMsg" *ngIf="lastName.errors?.required && lastName.touched">
                        Last Name is required.
                    </div>
                    <div class="errMsg" *ngIf="lastName.errors?.pattern && lastName.touched">
                        Your last name may contain only letters.
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" autocomplete="off" name="email" formControlName="email" id="email" class="form-control" placeholder="Email*">
                    <div class="errMsg" *ngIf="email.errors?.required && email.touched">
                        Please fill in your Email address
                    </div>
                    <div class="errMsg" *ngIf="email.errors?.pattern && email.touched">
                        This doesn't seem like a valid email address
                    </div>
                </div>
                <br>
                <br>
                <div class="col-md-6">
                    <input type="text" autocomplete="off" name="conEmail" formControlName="conEmail" id="conEmail" class="form-control" placeholder="Confirm Email*">
                    <div *ngIf="regForm.errors?.NotSameEmail && (regForm.touched || regForm.dirty)" class="errMsg">
                        Please make sure both emails match
                    </div>
                    <div *ngIf="email.errors?.required && email.touched" class="errMsg">
                        Please re-enter your email
                    </div>
                    <div class="errMsg" *ngIf="conEmail.errors?.pattern && conEmail.touched">
                        This doesn't seem like a valid email address
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-inline">
                        <p>Date of Birth*: </p>
                        <p>
                            <mat-form-field id="dob">
                                <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="errMsgDOB" *ngIf="dateOfBirth.errors?.required && dateOfBirth.touched">
                        Please enter your date of birth
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="pNumber" id="pNumber" maxlength="13" formControlName="phoneNumber" class="form-control" placeholder="Your Phone Number*">
                    <div class="errMsg" *ngIf="phoneNumber.errors?.required && phoneNumber.touched">
                        Please enter your phone number
                    </div>
                    <div class="errMsg" *ngIf="phoneNumber.errors?.minlength && phoneNumber.touched || phoneNumber.errors?.pattern">
                        Invalid phone number, please use this format (xxx-xxxxx-xxx)
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input autocomplete="off" type="password" id="password" minlength="8" formControlName="password" class="form-control" placeholder="Password*">
                    <div class="errMsg" *ngIf="password.errors?.required && password.touched">
                        Please enter a password
                    </div>
                    <div class="errMsg" *ngIf="password.errors?.minlength && password.touched">
                        Your password must be at least 8 character
                    </div>
                    <div class="errMsg" *ngIf="password.errors?.pattern && password.touched">
                        Password can only be alphanumeric
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-dark" [disabled]='!regForm.valid'>Submit</button>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Registration Successful!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You have successfully registered, here is your ID: <b>{{userID}}</b></p>
                </div>
                <div class="modal-footer">
                    <a [routerLink]="['/login', userID,regForm.value['email']]" class="btn btn-secondary" data-dismiss="modal">Login</a>
                    <a [routerLink]="['/userdetails', userID,regForm.value['title'],regForm.value['firstName'],regForm.value['lastName'],regForm.value['email'],regForm.value['phoneNumber']]" class="btn btn-secondary" data-dismiss="modal">View my information</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEmailExist" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Could not register your email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>{{emailExistErr}}</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>